<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="com.bdwashbu.CAT.application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.bdwashbu.cat.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="com.bdwashbu.cat.rcp.Perspective"
            id="com.bdwashbu.CAT.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="com.bdwashbu.cat.projectview.CATView"
            icon="Icons/packet.png"
            id="com.bdwashbu.packetview"
            name="Packet">
      </view>
      <view
            allowMultiple="false"
            class="com.bdwashbu.cat.rawdataview.RawDataView"
            icon="Icons/raw.png"
            id="com.bdwashbu.rawdataview"
            name="Raw Data"
            restorable="true">
      </view>
      <view
            class="com.bdwashbu.cat.detaildataview.DetailDataView"
            icon="Icons/detail.png"
            id="com.bdwashbu.detaildataview"
            name="Detail"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="com.bdwashbu.cat.crackview.CrackView"
            icon="Icons/crack.png"
            id="com.bdwashbu.crackview"
            name="CrackView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="com.bdwashbu.packetview"
               minimized="false"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               standalone="true">
         </view>
         <view
               id="com.bdwashbu.rawdataview"
               minimized="false"
               ratio="0.6"
               relationship="bottom"
               relative="com.bdwashbu.packetview"
               standalone="true">
         </view>
         <view
               id="com.bdwashbu.detaildataview"
               minimized="false"
               ratio="0.65"
               relationship="right"
               relative="com.bdwashbu.packetview">
         </view>
         <view
               id="com.bdwashbu.crackview"
               minimized="false"
               relationship="stack"
               relative="com.bdwashbu.packetview">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="CAT.open"
                  icon="Icons/document-open.png"
                  label="Open"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  icon="Icons/exit.png"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.bdwashbu.CAT.application"
            name="Crack Analysis Tool">
         <property
               name="appName"
               value="Crack Analysis Tool">
         </property>
         <property
               name="windowImages"
               value="hp_cat2.png,hp_cat.png">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.bdwashbu.cat.rcp.OpenHandler"
            id="CAT.open"
            name="name">
      </command>
   </extension>

</plugin>
